<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=WeeklyDownloader;" name="WeeklyDownloaderDb"/>
  </connectionStrings>
  <appSettings>
    <add  key="smtp" value="n-web"/>
    <add  key="smtpPort" value="25"/>
    
  </appSettings>
</configuration>